.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #2C3E50 ;
    color: white;
}

.profile_card{
    background-color: #34495E ;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
}

.card_footer{
    display: flex;
    justify-content: space-around;
}

.card_image{
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.card_body{
    text-align: center;
}
.img{
    width: 100%;
    padding-top: 30px;
}
