.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #2C3E50 ;
    color: white;
}

.profile_card{
    background-color: #34495E ;
    margin: auto;
    border-radius: 10px;
    width: 50%;
}

.card_footer{
    display: flex;
    justify-content: space-around;
    background-color: #1B4F72 ;
    margin: auto;
}

.card_image{
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.card_body{
    text-align: center;
}

p{
    
    padding: 0 15px 0 15px;
}

.img{
    max-width: 200px;
    max-height: 200px;
    padding-top: 30px;
}

span{
    background-color: #2C3E50;
    border-radius: 15px;    
}

.card_country{
    padding: 10px;
}

a{
    display: inline-block;
    padding: 20px;
    color: black;
}
